* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Cover */
#cover {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

#cover h1 {
  color: #ffd7aa;
  font-size: 3.5em;
  font-weight: 400;
  letter-spacing: 0.12em;
  z-index: 1;
}
.overlay {
  height: 50vh;
  width: 100%;
  position: absolute; /*absolute to cover block*/
  background-color: rgba(63, 34, 27, 0.5);
}

/* Header */
#header {
  width: 100%;
  height: auto;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  color: black;
  padding: 16px 24px;
}

#header #brand-name {
  width: 90%;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 4px;
  color: rgb(0, 0, 0);
}

#header #header-icon {
  width: 10%;
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-align: right;
}

#header #search {
  width: 100%;
  display: flex;
  padding-top: 8px;
}

#search #search-input {
  height: 32px;
  width: 100%;
  border-style: none;
  border-bottom: 1px rgb(220, 220, 220) solid;
  outline: none;
  font-size: 16px;
}

.slide-down {
  animation: slide-down 0.8s forwards;
}

.slide-up {
  animation: slide-up 0.8s forwards;
}

#header #header-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#header-container #header-items {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#header-items .item {
  width: 100%;
  font-size: 16px;
  padding-top: 16px;
}

.item a {
  padding-bottom: 1px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.item a:hover {
  border-bottom: 1px rgb(0, 0, 0) solid;
}

/* Featured Posts */
#feature-posts {
  height: 340px;
  background-color: crimson;
  text-align: center;
  padding: 0vh 7vh;
}

/* Posts */
#posts {
  height: 340px;
  background-color: greenyellow;
  text-align: center;
  padding: 0vh 7vh;
}

/* About */
#about {
  height: 256px;
  background-color: blueviolet;
  text-align: center;
  padding: 0vh 7vh;
}

/* Footer */
#footer {
  height: 256px;
  background-color: azure;
  text-align: center;
}
